{{define "body"}}
<h1>Roll your own fileserv</h1>
<ul>
    {{range .Files}}
    <li>
        <a href="/files/{{.RelativeName}}" download>{{.RelativeName}}</a>
        <button onclick="location.href='/files/{{.RelativeName}}'" class="ring-offset-background focus-visible:ring-ring inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 bg-primary text-primary-foreground hover:bg-primary/90 h-10 px-4 py-2">
            Download
        </button>
        ({{if .IsDir}}Directory{{else}}{{.Size}} bytes{{end}})
    </li>
    {{else}}
    <li>No files found.</li>
    {{end}}
</ul>
{{end}}
